

nav div img{
   
   width: 22px;
   height: 35px;
   size: 22px;
   
   
}
ul{
    display: flex;
    align-items: center;
}


nav ul li{
    display: inline-block;
    padding: 10px;
    
    margin-left: 20px;
    
     
}

i{
    font-size: 30px;
    
}

span i{

    position: relative;
    top: 10px;

    padding: 5px;
}



#search{
    display: inline-block;
    
    margin-left:500px;
    
}

#cerca{
   
    border-radius: 3px;
    padding: 10px;
    border-color: #cecdcc;
    position: relative;
    right: 20px;
    
}

#lingua{
    
    text-transform: none;
}



nav{
    position: fixed;
    border: solid 1px #d8d8d7; 
    background: white; 
    width: 100%; 
    top: 0px;
    
}

#immagine_principale{
    
    max-width: 100%;
    
}

#traduction{
    text-align: center;
}

#welcome{
    text-align: center;
}

.button{
    text-align: center;
}
