nav div img{
   
   width: 22px;
   height: 35px;
   size: 22px;
   
   
}
ul{
    display: flex;
    align-items: center;
}


nav ul li{
    display: inline-block;
    padding: 10px;
    
    margin-left: 20px;
    
     
}

i{
    font-size: 30px;
    
}

span i{

    position: relative;
    top: 10px;

    padding: 5px;
}



#search{
    display: inline-block;
    
    margin-left:500px;
    
}

#cerca{
   
    border-radius: 3px;
    padding: 10px;
    border-color: #cecdcc;
    position: relative;
    right: 20px;
    
}

span a{
    color: #272626;
    text-decoration: none;
}



nav{
    position: fixed;
    border: solid 1px #d8d8d7; 
    background: white; 
    width: 100%; 
    top: 0px;
    
}

#immagine_principale{
    
    max-width: 100%;
    
}

#traduction{
    text-align: center;
}

div a{
    text-decoration:none;
    color: #272626;
}

#welcome{
    text-align: center;
}

.button{
   
    border: 1px solid #ccc9c9;
    padding: 10px;
    position: absolute;
    margin-left: 700px;
    border-radius: 3px;
}

/* Main style */
 
 .container{
     padding: 16px;
     align-content: center;
     justify-content: center;
     align-items: center;
     justify-items: center;
     margin: auto;
 }
 
 .start{
     display: flex;
     align-items: center;
     margin-bottom: 3rem;
     margin-top: 1rem;
     text-align: justify;
     justify-content: center;
     margin-right: 0;
     font-family: system-ui,
     -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
     Helvetica,Arial,sans-serif,Apple Color 
     Emoji,Segoe UI Emoji,Segoe UI Symbol;
 }
 
 
 
 .box-4{
    display: flex;
    flex: 1 1 372px;
    padding: 0;
    margin: 0;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    -webkit-box-pack: justify;
    
    
    
   
 }
 
 @media only screen and (min-width: 1350px) {
 
     .box-4{
         max-width: 1200px;
     }
      
  }
  @media only screen and (max-width:900px ) {
 
      .robo{
         margin: 0px;
         min-width: (100%, 240px);
      }
  }
 
 
 .imgx4{
     display: inline-block;
     min-width: 300px;
     text-align: left;
     background: radial-gradient(46.28% 66.31% at 66.95% 58.35%,
       rgb(230, 230, 247) 0%,
       rgb(231, 237, 250) 50%, 
       rgb(233, 251, 250) 100%);
     margin: 16px;
     
     border-radius: 2px;
 }
 
 .robo{
     
     display: flex;
     flex-direction: column;
     max-width: 400px;
     align-items: center;
     box-shadow: rgb(0 0 0 / 7%) 0px 14px 66px, 
     rgb(0 0 0 / 3%) 0px 10px 17px, 
     rgb(0 0 0 / 5%) 0px 4px 7px;
     border-radius: 2px;
     justify-items: center;
   
 }
 
 .robo a{
     text-decoration: none;
     color: white;
 }
 
 .robo:hover{
     
     box-shadow: rgb(243 15 15) 0px 8px 17px;
     background: rgb(242, 242, 242);
     transition: transform 0.1s ease 0s;
     transform: scale(1.02);
     
 }
 
 .testo{
     display: flex;
     flex-direction: column;
     background-color: rgb(34, 34, 34);
     padding: 24px;
     min-height: 140px;
     max-width: 500px;
     align-items: left;
     justify-content: center;    
     
 }
 
 /* Fine Main style */
